*{
    margin: 0;
    padding: 0;

}
/* navbar section start here  */
header{
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    /* position: fixed; */
    width: 100%;
    z-index: 999;
}
.navbar-nav .nav-link{
    font-family: 'Work Sans', sans-serif; 
    font-weight: 500;
    color: #5a6e79;
}
.navbar-nav .nav-item{
    padding: 10px;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #ffc178;
    text-decoration: underline;

}
.navbar-nav .btn{
    font-family: 'Work Sans', sans-serif; 
    font-weight: 500;
    color: #ffc178;
    border-radius: 27px;
    padding: 5px 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 9px 70px 10px rgb(223, 223, 223);
}
.navbar-nav .btn:hover{
    background-color: #ffc178;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    box-shadow: 0px 9px 70px 0px rgba(227, 227, 233, 0.004);
}

/* Navbar section end  */
/* banner section star  */
.banner {
    background-image: url('image/banner bg.png'); 
    /* width: 100%; */
    /* height: auto; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
}
.banner .banner-text{
    padding: 170px 0;
}
.banner h2{
    color: #ffc178;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
}
.banner p{
    font-family: 'Work Sans', sans-serif; 
    font-size: 18px;
    line-height: 26px;
}
.banner .btn{
    background-color: #ffc178;
    border-radius: 27px;
    color: white;
    font-family: 'Work Sans', sans-serif; 
    font-size: 18px;
    line-height: 50px;
    padding: 0 20px;
    margin-top: 20px;
}
/* banner part end  */
/* department part start here  */
/* .department{
    top: 100px;
    background-image: url('image/background.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */
.department h2{
    font-family: 'Work Sans', sans-serif; 
    font-weight: bold;
    font-size: 40px;
    color: #252c3a;
}
.department p{
    font-family: 'Work Sans', sans-serif; 
    /* font-weight: bold; */
    font-size: 16px;
    line-height: 24px;
    color: #5a6e79;
}
/*      department cards      */
.department .all-dp-box .card{
    box-sizing: border-box;
}
.department .all-dp-box .card img{
    width: 270px;
    height: 270px;
    padding: 30px;

}
.department .all-dp-box .dep-card-1{
    background-color: #f9703a;
}
.department .all-dp-box .dep-card-2{
    background-color: #80be41;
}
.department .all-dp-box .dep-card-3{
    background-color: #ffb258;
}
.department .all-dp-box .card .card-text{
    font-family: 'Work Sans', sans-serif; 
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    padding-bottom: 80px;
}
/* department cards complete  */
.department .dp-mid {
    /* background-image: url('image/dp-bg-left.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 100vh; */
}



/* 
font-family: 'Cairo', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Rowdies', cursive;
font-family: 'Work Sans', sans-serif; 
*/