*{
    margin: 0;
    padding: 0;

}
/* navbar section start here  */
header{
    position: fixed;
    width: 100%;
}
.navbar-nav .nav-link{
    font-family: 'Work Sans', sans-serif; 
    font-weight: bold;
    color: black;
}
.navbar-nav .nav-item{
    padding: 10px;
}
.navbar-nav .btn{
    font-family: 'Work Sans', sans-serif; 
    font-weight: bold;
    color: #ffc178;
    background-color: white;
    border-radius: 27px;
    box-shadow: 0 1px 5px rgb(134, 134, 134);
}
/* Navbar section end  */
/* banner section star  */
.banner {
    background-image: url('image/banner bg.png'); 
    /* width: 100%; */
    /* height: auto; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
}
.banner h2{
    color: #ffc178;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
}
.banner p{
    font-family: 'Work Sans', sans-serif; 
    font-size: 18px;
}
.banner .btn{
    background-color: #ffc178;
    border-radius: 27px;
    color: white;
    font-family: 'Work Sans', sans-serif; 
    font-size: 18px;
    /* padding: 3px 5px; */
}
/* banner part end  */
/* department part start here  */
.department h2{
    font-family: 'Work Sans', sans-serif; 
    font-weight: bold;
    font-size: 40px;
}
.department p{
    font-family: 'Work Sans', sans-serif; 
    /* font-weight: bold; */
    font-size: 16px;
}

/* 
font-family: 'Cairo', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Rowdies', cursive;
font-family: 'Work Sans', sans-serif; 
*/